# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosystem and summarized.

<b>Objectives</b>
* List popular languages for Data Science
* List commonly used libraries used by Data Scientist
* Manapulate tips for managing Markdonw cells in Jupyter
* Sample arithmetic expressions in Python

Some of the popular languages that Data Scientist use are:

1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientist include:

1. Numpy
2. Panda
3. Matplotlib

| Data Science Tools |
|:--------:|
|  VSCode   |
|  Jupyter   |
|  R Studio   |

### Below are a few examples of evaluating arithmetic expression in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

<h2>Author</h2> 
<br>
Panharith Yi